#header{
    background-color: #8FAFFF;
<<<<<<< Updated upstream:Stylesheet/style.css
};
=======
    
}
.portifólio{
    background-color: #8FAFFF;
}
.imagem{
    margin-bottom: 60px 0;
}
>>>>>>> Stashed changes:Site/Stylesheet/style.css
