/** Página Inicial **/
#header{
    background-color: #8FAFFF;
    display: block;
}
/** Seção Serviços **/
.servicos{
    padding: 50px;
}
.serv-icon{
    padding-top: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 298px;
}
.icon-serv{
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    background-color: #FED136ff;
}
.title-serv{
    font-size: 20px;
    padding-top: 5px;
}
.text-icon{
    font-size: 12px;
    padding: 5px;
}

/** Seção Portifólio **/
.portfólio{
    background-color: #8FAFFF;
    padding: 40px;
}
.container-port{
    margin: 0 16px;
}
.imagem{
    display: block;
    max-width: 100%;
}
.box{
    grid-template: 1fr;
    background-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 210px;
    max-width: 220px;
    box-shadow: 2px 2px 16px rgba(0,0,0,0.16);
    border-radius: 5px;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 40px;
}
.text-port{
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    font-size: 12px;
    max-width: 220px;
}

/**Seção Sobre**/

.container-sobre{
    margin: 0 16px;
    justify-content: center;
    align-content: center;
}

.sobre{
    padding: 20px;
    display: grid;
    justify-items: center;
}

li{
    list-style: none;
}

.linha-vert{
    height: 150px;
    border-right: 2px solid black;
    margin-bottom: 15px;
}

.text-li{
    text-align: end;
    font-size: 15px;
}

.text-li-2{
    text-align: start;
    font-size: 15px;
}

.text-li-ti{
    text-align: end;
    font-size: 18px;
}

.text-li-ti-2{
    text-align: start;
    font-size: 18px;
}

.fund{
    margin-top: 20px;
    display: grid;
    justify-content: center;
}
.box-fund{
    max-width: 380px;
}
.img-fund{
    display: block;
    max-width: 100%;
    border-radius: 50%;
}
.fund li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;    
    justify-items: center;
}

.exp{
    display: grid;
    justify-content: center;
}
.box-exp{
    max-width: 380px;
}
.img-exp{
    display: block;
    max-width: 100%;
    border-radius: 50%;
}
.exp li{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem; 
    justify-items: center;  
}

.premiacao{
    display: grid;
    justify-content: center;
}
.img-prem{
    display: block;
    max-width: 100%;
    border-radius: 50%;
}
.box-prem{
    max-width: 380px;
}
.premiacao li{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem; 
    justify-items: center;
}

.faca{
    display: grid;
    justify-content: center;
}
.box-faca{
    max-width: 380px;
    padding-right: 40px;
}
.img-facap{
    display: block;
    max-width: 100%;
    border-radius: 50%;
}

@media (max-width: 728px) {
    .sobre{
        padding: 40px
    }
    .text-li{
        text-align: center;
        font-size: 15px;
    }
    
    .text-li-2{
        text-align: center;
        font-size: 15px;
    }

    .fund li{
        grid-template-columns: 1fr;
    }
    .box-fund{
        padding: 20px;
    }
    
    .exp li{
        grid-template-columns: 1fr;
    }
    .box-exp{
        padding: 20px;
    }

    .premiacao li{
        grid-template-columns: 1fr;
    }
    .box-prem{
        padding: 20px;
    }

    .faca li{
        grid-template-columns: 1fr;
    }
    .box-faca{
        padding-right: 40px;
    }
    .img-facap{
        min-width: 150px;
        min-height: 150px;
    }
}
@media (max-width: 580px) {
    .sobre{
        margin-top: 15px;
        padding: 0;
    }
    .portfólio{
        padding: 20px 10px;
    }
    .container-sobre{
        margin: 0;
    }
    .box{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
}    
/** Seção Equipe **/
#equipe{
    background-color: #8FAFFF;
    padding: 50px;
}

.eq{
    text-align: center;
}

.icon-eq{
    border-radius: 50%;
    max-width: 70%;
}
/** Seção Patrocinadores **/
.container-pat{
    padding-right: 10px;
    padding-left: 10px;
}
.icon-pat{
   max-width: 150px;
   margin-right: 50px;
   margin-left: 50px;
}
/** Seção Contatos **/
.contatos{
    background-color: #212529;
    color: #ffffff;
    padding: 50px;
}
.form{
    margin-left: 100px;
    margin-top: 40px;
}
.form-box{
    margin-right: 100px;
    margin-top: 40px;
}
.bnt-cont{
    margin-top: 50px;
    border-radius: 5px;
    background-color: #FED136ff; 

}
.bnt-cont:hover{
    box-shadow: 0 8px 12px 0#B89215 ,0 12px 30px 0#B89215;
}
/** Seção Footer **/
.icon-rod{
    border-radius: 50%;
    max-width: 20px;
}
.text-rod{
    font-size: 10px;
}