/** Página Inicial **/
#header{
    background-color: #8FAFFF;
    display: block;
}
/** Seção Serviços **/
.servicos{
    padding: 50px;
}
.serv-icon{
    padding-top: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 298px;
}
.icon-serv{
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    background-color: #FED136ff;
}
.title-serv{
    font-size: 20px;
    padding-top: 5px;
}
.text-icon{
    font-size: 12px;
    padding: 5px;
}

/** Seção Portifólio **/
.portfólio{
    background-color: #8FAFFF;
    padding: 80px;
}
.container-port{
    margin: 60px;
}
.imagem{
    display: block;
    max-width: 100%;
}
.box{
    grid-template: 1fr;
    background-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 37vh;
    width: 220px;
    box-shadow: 2px 2px 16px rgba(0,0,0,0.16);
    border-radius: 5px;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 60px;
}
.text-port{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 10px;
    max-width: 220px;
}

/**Seção sobre**/

.sobre{
    padding: 80px;
    display: grid;
    justify-items: center;
}

li{
    list-style: none;
}

.linha-vert{
    height: 150px;
    border-right: 2px solid black;
    margin-bottom: 15px;
}

.text-li{
    text-align: end;
    font-size: 12px;
}

.text-li-2{
    text-align: start;
    font-size: 12px;
}

.fund{
    margin-top: 20px;
    display: grid;
    justify-content: center;
}
.box-fund{
    max-width: 380px;
}
.img-fund{
    display: block;
    max-width: 100%;
    border-radius: 50%;
}
.fund li{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;    
}

.exp{
    display: grid;
    justify-content: center;
}
.box-exp{
    max-width: 380px;
}
.img-exp{
    display: block;
    max-width: 100%;
    border-radius: 50%;
}
.exp li{
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 1rem;   
}

.premiacao{
    display: grid;
    justify-content: center;
}
.img-prem{
    display: block;
    max-width: 100%;
    border-radius: 50%;
}
.box-prem{
    max-width: 380px;
}
.premiacao li{
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 1rem; 
}

.faca{
    display: grid;
    justify-content: center;
}
.box-faca{
    max-width: 380px;
}
.img-facap{
    display: block;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 40px;
}

/** Seção Contatos **/
.contatos{
    background-color: #212529;
    color: #ffffff;
}
.btn-contatos{
    background-color: #FED136ff;
}